
@{
    ViewBag.Banner = "banner_faq.jpg";
    ViewBag.Title1 = "ASK US ANYTHING";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZTHGRV"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="~/css/vendor.css" rel="stylesheet">
<link href="~/css/app.css" rel="stylesheet">

<!-- FAQs -->
<section class="faq">
    <main class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="accordion faq-accordion" id="accordion1">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0 d-flex justify-content-between">
                                        <a href="#collapseOne" class="btn btn-link text-left" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                            What is PlatGames?
                                        </a>
                                        <a href="#collapseOne" class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="m-0 ml-3">
                                            Get unlimited access to thousands of the best games.

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0 d-flex justify-content-between">
                                        <a href="#collapseTwo" class="btn btn-link text-left" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">

                                            HOW DO I DOWNLOAD THE CONTENT?
                                        </a>
                                        <a href="#collapseTwo" class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="m-0 ml-3">
                                            You need to subscribe to the portal first before you are able to download the content. In order to subscribe you may go to the portal and click on the “subscribe” button. Do note that PlatGames can only be accessed by mobile data or Wi-Fi.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0 d-flex justify-content-between">
                                        <a href="#collapseThree" class="btn btn-link text-left" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">

                                            WHAT ARE THE PHONES COMPATIBLE TO ACCESS THE PORTAL?
                                        </a>
                                        <a href="#collapseThree" class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="m-0 ml-3">
                                            It can be used on any mobile device with minimum OS such as iOS devices version 3.0+ or Android devices version 2.0+
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0 d-flex justify-content-between">
                                        <a href="#collapseFour" class="btn btn-link text-left" role="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">

                                            HOW MANY CONTENT I CAN DOWNLOAD?
                                        </a>
                                        <a href="#collapseFour" class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="m-0 ml-3">
                                            You may download all the apps and play games available on the portal once you are subscribed to the service.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h2 class="mb-0 d-flex justify-content-between">
                                        <a href="#collapseFive" class="btn btn-link text-left" role="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">

                                            IS THERE ANY DATA USAGE CHARGES?
                                        </a>
                                        <a href="#collapseFive" class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="m-0 ml-3">


                                            Yes, data will be charged based on usage.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0 d-flex justify-content-between">
                                        <a href="#collapseSix" class="btn btn-link text-left" role="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">

                                            HOW CAN I SUBSCRIBE?
                                        </a>
                                        <a href="#collapseSix" class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="m-0 ml-3">

                                            You need to click the subscribe button available on the portal.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header" id="headingTwelve">
                                    <h2 class="mb-0 d-flex justify-content-between">
                                        <a href="#collapseTwelve" class="btn btn-link text-left" role="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseOne">

                                            HELP! HOW DO I CONTACT YOU FOR ADDITIONAL ASSISTANCE?
                                        </a>
                                        <a href="#collapseTwelve" class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="m-0 ml-3">
                                            You may send us an email at support@ksa.platgames.co
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</section>

<script type="text/javascript">
    $(document).ready(function () {



        $(document).on("click", "#barMenuKey", function (e) {
            $._isMenuVisible = (e.which === 1) ?
                toggleMenu(true) : false;
            // Stop bubbling;
            return false;
        });

        $(document).on("click keydown", function (e) {
            $._isMenuVisible = ($._isMenuVisible === true) ?
                (e.key === "Escape" || e.which === 1) ?
                    toggleMenu(false) : true
                : false;
        });

        function toggleMenu(_visibility) {
            // Initialization
            _visibility = _visibility || false;
            // On/Off Dropdown;
            $("#barDropDown").fadeToggle('fast');
            // Change bar icon;
            $("#barMenuKey")
                .find('i.fas')
                .toggleClass('fa-times');
            // On/Off backdrop overlay;
            $('body').toggleClass('dropdown-overlay');
            // return Dropdown visibility state;
            return _visibility;
        }
    });

    $(document).on('change', '#locale', function () {
        window.location.href = $(this).val();
    });

</script>



