
@{
    ViewBag.Banner = "banner_pricing.jpg";
    ViewBag.Title1 = "TRY PLAT GAMES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZTHGRV"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Content -->
<section class="pricing">
    <main class="container">
        <section class="feature-pricing mx-auto w-75">
            <main class="card-group border-0 text-center">
                <div class="card bg-transparent border-0">
                    <img class="card-img-top w-50 mx-auto my-4" src="~/Content/images/pricing_feature_img1.png" alt="">
                    <div class="card-body">
                        <p class="card-text">Hundreds of top games, curated &amp; localized experience, easy discovery.</p>
                    </div>
                </div>
                <div class="card bg-transparent border-0">
                    <img class="card-img-top w-50 mx-auto my-4" src="~/Content/images/pricing_feature_img2.png" alt="">
                    <div class="card-body">
                        <p class="card-text">Never pay for a game again. New games added every week.</p>
                    </div>
                </div>
                <div class="card bg-transparent border-0">
                    <img class="card-img-top w-50 mx-auto my-4" src="~/Content/images/pricing_feature_img3.png" alt="">
                    <div class="card-body">
                        <p class="card-text">Free In-App purchases Get coins, armour, swords and power ups. Access to all levels and all add-ons for free.</p>
                    </div>
                </div>
            </main>
        </section>

        <section class="pricing-plan">
            <header class="mb-4 mb-sm-5 mt-sm-5">
                <h1 class="h1 m-0 text-center text-uppercase">
                    <span><b>PLAY FOR FREE</b> OR <br></span>
                    <span>GET <b>SUBSCRIBED.</b></span>
                </h1>
            </header>
            <div class="row">
                <div class="card-deck col-sm-8 mx-auto">
                    <div class="card ">
                        <div class="card-header bg-white">
                            <h5 class="m-0">PlatGames <b>Free</b></h5>
                            <h3 class="m-0"><strong>RM 0/</strong> <span class="small">7 days</span></h3>
                        </div>
                        <div class="card-body">

                            <div class="card-text mb-4">
                                <ul class="fa-ul">
                                    <li class="text-muted"><span class="fa-li "><i class="fas fa-check purple"></i></span>Hundreds of top games</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-check purple"></i></span>Free In-App purchases</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-check purple"></i></span>Never pay for a game again</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-check purple"></i></span>Verified and Ad-Free</li>
                                </ul>
                            </div>
                            <a href="@Url.Action("AllGames", "Home")" class="btn btn-primary btn-block mt-4">Play Now</a>
                        </div>
                    </div>
                    <div class="card mb-0">
                        <div class="card-header bg-white">
                            <h5 class="m-0">PlatGames <b>Subscription</b></h5>

                            <h3 class="m-0"><span class="small">RM 2/Week</span></h3>
                        </div>
                        <div class="card-body">

                            <div class="card-text mb-4">
                                <ul class="fa-ul">
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-check purple"></i></span>Hundreds of top games</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-check purple"></i></span>Free In-App purchases</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-check purple"></i></span>Never pay for a game again</li>
                                    <li class="text-muted"><span class="fa-li"><i class="fas fa-check purple"></i></span>Verified and<b> Ad-Free</b></li>
                                </ul>
                            </div>

                            <a href="@Url.Action("AllGames", "Home")" class="btn btn-primary btn-block mt-4">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</section>

<script type="text/javascript">
    $(document).ready(function () {



        $(document).on("click", "#barMenuKey", function (e) {
            $._isMenuVisible = (e.which === 1) ?
                toggleMenu(true) : false;
            // Stop bubbling;
            return false;
        });

        $(document).on("click keydown", function (e) {
            $._isMenuVisible = ($._isMenuVisible === true) ?
                (e.key === "Escape" || e.which === 1) ?
                    toggleMenu(false) : true
                : false;
        });

        function toggleMenu(_visibility) {
            // Initialization
            _visibility = _visibility || false;
            // On/Off Dropdown;
            $("#barDropDown").fadeToggle('fast');
            // Change bar icon;
            $("#barMenuKey")
                .find('i.fas')
                .toggleClass('fa-times');
            // On/Off backdrop overlay;
            $('body').toggleClass('dropdown-overlay');
            // return Dropdown visibility state;
            return _visibility;
        }
    });

    $(document).on('change', '#locale', function () {
        window.location.href = $(this).val();
    });

</script>
