
@{
    ViewBag.Banner = "banner_faq.jpg";
    ViewBag.Title1 = "Game All Day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="~/css/vendor.css" rel="stylesheet">
<link href="~/css/app.css" rel="stylesheet">

@*<style>
        .tnc{
            background-color:white;
            color:black;
        }
    </style>*@
<br />
<br />

<section class="bg-grey-300 padding-5-10 padding-top-25">
    <div class="container">
        <div class="col-md-12">
            <div class="post game-detail">
                <h2 class="text-purple">Terms of Use</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-grey padding-5-10 padding-top-25 tnc">
    <div class="container font-size-15">
        <div>
            <p>All content from PlatGames are subjected to these Term of Use.</p>
            <ol>
                <li>
                    <p>
                        Introduction:
                    </p>
                    <p>- PlatGames is a premium android games portal which gives you access to an array of high definition, fun and immersive games for your android devices.</p>
                    <p>- By using any part of PlatGames, you represent that you have read, understood, and agreed to be bound by these Terms and Conditions including any future modifications. PlatGames may amend, update or change these Terms and Conditions.</p>
                </li>
                <li>
                    <p>
                        PlatGames is compatible on Mobile & Tablet devices running on an Android OS.
                    </p>
                </li>
                <li>
                    <p>Payment and Service Access: You can subscribe to the service through the portal by clicking the subscribe button. You would need to fill up your mobile number in order to receive a PIN via a SMS notification which will be sent to your registered number. Upon successful confirmation, you will be subscribed to PlatGames, gain full access to all contents.</p>
                </li>
                <li>
                    <p>
                        Rules of use of the Service principles governing the use of service is exclusively reserved for a practical and non-commercial use.
                    </p>
                </li>
                <li>
                    <p>You understand the characteristic and limitations of electronic communications networks, including the technical performance, response, querying, transferring data and risk to information security.</p>
                </li>
                <li>
                    <p>
                        To terminate the Service, kindly send [awaiting keyword]
                    </p>
                    <p>- 801165 (for STC users)</p>
                    <p>- 670611 (for Mobily users)</p>
                </li>
                <li>
                    <p>For assistance please send an email to support@ksa.platgames.co.</p>
                </li>

            </ol>
        </div>

    </div>
</section>